* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	margin-left: 0.5em;
}

h2 {
	border-bottom: 1px black dotted;
	display: inline-block;
	padding: 0.3em 1em;
}

/* Navbar */
header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	background-color: aliceblue;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-left: 1.5em;
	padding: 0.3em 0.5em;
}

nav ul li:hover {
	background-color: aqua;
}

/* Section about me */

#about-me-content {
	display: flex;
	padding: 1.5em;
	text-align: justify;
	text-justify: inter-word;
}

#me_picture {
	width: 16em;
	border-radius: 35%;
	padding: 0 2em;
	max-height: 18em;
}

#button-containter {
	display: flex;
	justify-content: center;
}

#lottery {
	padding: 0.4em 0.7em;
	border-radius: 20%;
	background-color: rgb(97, 237, 87);
}

#lottery:hover {
	cursor: pointer;
}

#sentence {
	font-family: "Philosopher", sans-serif;
	text-align: justify;
	text-justify: inter-word;
	padding: 2em 1em;
	background-color: aliceblue;
	text-align: center;
}

/* Section projects */
#youtube_banner {
	width: 35em;
}

#first_web_site {
	width: 35em;
}

summary {
	padding: 0.5em;
}

.summary-description {
	margin-top: 1em;
	text-align: justify;
	text-justify: inter-word;
}

/* Section skills */
i {
	font-size: 3em;
}

#skills ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
}

/* Section hobbies */

.hobby-picture {
	width: 200px;
	border-radius: 30%;
}

.hobby {
	display: flex;
	padding: 1em 2em;
	text-align: justify;
	text-justify: inter-word;
}

.hobby img {
	margin-right: 1em;
}

/* Contact page */
#card {
	display: flex;
	border: 2px black solid;
}

#me_and_skull {
	width: 15em;
}

#card div ul {
	padding: 1em;
	margin-left: 1em;
}

#card div ul li {
	padding: 0.5em;
}

#up-page {
	position: fixed;
	bottom: 0px;
	left: 80%;
	background-color: aliceblue;
	border: 2px solid;
	padding: 0.5em 1em;
}

/* For mobiles */

@media only screen and (max-width: 600px) {
	h1 {
		display: none;
	}
	nav ul li {
		margin-left: 1em;
		padding: 0.3em 0.4em;
	}
	#about-me-content {
		text-align: left;
	}
}
